export REGISTRY=ghcr.io
export OWNER=shtsukada
export IMAGE_NAME=cloudnative-observability-operator
export TAG=v0.1.0
export CHART_DIR=charts/cloudnative-observability-operator
export CHART_REPO_BASENAME=charts
